@page
@model Blog.Web.Pages.Admin.Posty.ListModel
@{
}

<div class="bg-primary bg-opacity-10 py-3">
    <div class="container">
        <h1>Wszystkie Posty</h1>
    </div>
</div>


<partial name="_Alert">


@* @{
    var messageDescription = (string)ViewData["MessageDesc"];
}

@if (!string.IsNullOrWhiteSpace(messageDescription))
{
    <div class="container mb-5">
        <div class="alert alert-success alert-dismissible fade show mb-3" role="alert">
            @Html.Raw(messageDescription)
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
} *@

@if (Model.BlogPostList !=null && Model.BlogPostList.Any())
{
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Nagłówek</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var blogPost in Model.BlogPostList)
            {
                <tr>
                    <td>@blogPost.Id</td>
                        <td>@blogPost.Heading</td>
                    <td><a href="/admin/posty/edit/@blogPost.Id">Wyświetl szczegóły</a></td>
                </tr>
            }
        </tbody>
    </table>

    </div>
}
else
{
    <div class="container">
        <p>Nie ma jeszcze żadnych Postów :( </p>
    </div>
}