@page
@model Blog.Web.Pages.AccessDeniedPageModel
@{
}

<div class="container align-content-center">
    <h2> To konto nie ma wystarczających uprawnień!</h2>
    <img src="\accessdenied.png" />
</div>
